@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
	font-family: "Quicksand";
	padding: 2px;
}
body {
	margin: 0;
	background-color: rgb(242, 222, 206);
}
.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 94vh;
}
.content {
	width: 800px;
	height: 500px;
}
.box {
	display: flex;
	background-color: red;
}
