@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
	--main-purple: rgb(75, 49, 83);
}
* {
	font-family: "Quicksand";
}
body {
	background-color: rgb(242, 222, 206);
	overflow: hidden;
}
.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 94vh;
	overflow: hidden;
}
.content {
	width: 1150px;
	height: 575px;
	background-color: white;
	border-radius: 50%;
	position: relative;
}
.box {
	display: flex;
	border-radius: 30px;
	overflow: hidden;
	width: 100%;
	position: relative;
	height: 100%;
}
.box-effect {
	background-color: rgb(244, 228, 218);
	display: flex;
	border-radius: 30px;
	overflow: hidden;
	width: 100%;
	position: relative;
	height: 100%;
	position: absolute;
	transform: rotate(-3deg);
	border: 2px solid rgb(248, 233, 224);
}

.main {
	background-color: white;
}
.sidebar {
	background-color: rgb(250, 250, 250);
	display: flex;
}
.activity {
	background-color: rgb(250, 250, 250);
	display: inline-block;
}
.sidebar {
	width: 20%;
	padding: 7px;
	font-size: larger;
	font-weight: bolder;
}
.main,
.activity {
	width: 40%;
	padding-left: 15px;
}
.activity-title,
.main .dashboard-title,
.main .transaction-title {
	font-size: larger;
	font-weight: bolder;
	color: var(--main-purple);
	padding: 7px;
	display: flex;
	flex-direction: column;
}
.sidebar-list {
	list-style-type: none;
	margin: 5px;
	padding: 5px;
}
.dashboard {
	margin-bottom: 20px;
	padding-top: 22px;
	position: relative;
}
.card-area {
	padding: 7px;
	margin-bottom: 20px;
}

.sidebar-list {
	display: flex;
	flex-direction: column;
}
.sidebar-list > div > a {
	text-decoration: none;
	font-size: 14px;
	color: gray;
}
.sidebar-list > div {
	margin: 15px;
	display: flex;
}

.transaction-list > ul {
	list-style-type: none;
	margin: 0;
	padding: 7px;
	font-size: small;
	display: inline-block;
}
/* CARD BODY */
.card-body {
	padding: 7px;
	background-color: var(--main-purple);
	position: relative;
	width: 328px;
	height: 191px;
	border-radius: 40px;
	color: white;
}
.card-body {
	color: rgb(170, 150, 180);
	position: relative;
}
.card-name {
	color: white;
	font-size: xx-large;
	font-weight: bolder;
	padding: 30px;
}
.total-balance {
	padding: 10px 30px;
}
.card-balance {
	color: white;
	font-size: xx-large;
	font-weight: bolder;
	padding-left: 30px;
}
.visa-icon {
	position: absolute;
	left: 80%;
	top: 10%;
}
/*//////////////////////////////////////////////////////////////*/
.transaction-details {
	display: flex;
	padding: 10px;
	align-items: center;
}

.details-name {
	color: var(--main-purple);
	font-weight: 800;
	margin-left: 10px;
	width: 45%;
}
.details-date {
	color: gray;
	width: 30%;
}
.details-amount {
	width: 25%;
	text-align: right;
	margin-right: 15px;
}
.edit-icon {
	margin-left: -12px;
	padding-right: 2px;
	color: white;
}
.edit-icon:hover {
	color: var(--main-purple);
}
.delete-icon {
	color: white;
	padding-right: 7px;
}
.delete-icon:hover {
	color: var(--main-purple);
}
